@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asp.net Cms</h1>
    <p class="lead">Asp.net Cms is a Complete Mvc Cms Project</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>brief intro</h2>
        <p>
            ASP.NET MVC Cms is a CMS for student data and Photo Managemnt.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Areas</h2>
        @Html.Partial("_AdminPannelPage")
    </div>
</div>