

@section Styles{
    @*<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">*@
}
<form action="/photosection/practicephoto/datetimepicker" method="post">
    <input type="text" name="TestData">
    <input type="datetime-local" name="TryDate" id="trydate">
    <input type="submit" />
</form>
@section scripts{
    @*<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.10.6/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/moment-timezone/0.4.0/moment-timezone-with-data.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <script src="~/Areas/PhotoSection/datetimePicker/demo.all.js"></script>*@
}
