<!--vuejs preview-->
<!--link::https://www.npmjs.com/package/vue-picture-input -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-picture-input"></script>
<div id="app">
    <p>{{ message }}</p>
    <picture-input ref="pictureInput"
                   @@change="onChange"
                   width="600"
                   height="600"
                   margin="16"
                   accept="image/jpeg,image/png"
                   size="10"
                   buttonClass="btn"
                   :customStrings="{
                   upload: '<h1>Bummer!</h1>' ,
                   drag: 'Drag a 😺 GIF or GTFO'
                   }">
    </picture-input>
</div>
<script>
    export default {
        name: 'app',
        data() {
            return {
            }
        },
        components: {
            PictureInput
        },
        methods: {
            onChange(image) {
                console.log('New picture selected!')
                if (image) {
                    console.log('Picture loaded.')
                    this.image = image
                } else {
                    console.log('FileReader API not supported: use the <form>, Luke!')
                }
            }
        }
    }
</script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        },
        components: {
            'picture-input': PictureInput
        }
    })
</script>
