
@{
    ViewBag.Title = "Create news";
}
@section Styles{
    <link href="~/Content/summernote.css" rel="stylesheet" />
    <style type="text/css">
        input[type=text] {
            max-width: 100%;
            width: 98%;
            margin-left: 15px;
        }

        .sub {
            margin-left: 0px;
        }

        h1 {
            margin-top: 0px;
        }

        input[type=datetime-local] {
            max-width: 100%;
            margin-left: 15px;
        }
    </style>
    <link href="~/Content/PikaDateTimeCss/pikaday.css" rel="stylesheet" />
    <link href="~/Content/PikaDateTimeCss/site.css" rel="stylesheet" />
    <link href="~/Content/PikaDateTimeCss/theme.css" rel="stylesheet" />
    <link href="~/Content/PikaDateTimeCss/triangle.css" rel="stylesheet" />
}
<div class="body" id="app">
    <div class="row">
        <form action="/NewsPortal/news/create" method="post" enctype="multipart/form-data">
            <div class="row text-center">
                <h1>Create</h1>
            </div>
            <div class="row form-group">
                <div class="row text-left sub">
                    <label for="Subject">Subject:</label>
                </div>
                <div class="row text-left">
                    <input type="text" name="Subject" />
                </div>
            </div>
            <div class="row form-group">
                <label for="Discussion">Discussion</label>
                <div id="summernote" name="summernote"><p>Hello Summernote</p></div>
                <input type="hidden" name="Discussion" id="Discussion" value="0">
            </div>
            <div class="row form-group">
                <div class="row text-left sub">
                    <label for="PublishedDate">Published Date:</label>
                </div>
                <div class="row text-left">
                    @*<input type="date" name="PublishedDate" id="PublishedDate" />*@
                    <input type="text" id="datepicker">
                </div>
                <input style="margin-top:15px;" type="submit" onclick="funcMyHtml()">
                <input style="margin-top:15px;" type="button" onclick="funcMyHtml()">
            </div>

            @*<div class="row form-group text-center">*@
            @*<p><button v-on:click="myCanvas()">Upload</button></p>*@
            @*<input type="submit" v-on:click="myCanvas" value="Upload">*@
            @*<input type="submit" value="upload Image" />*@
            @*</div>*@
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/summernote.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Content/PikaDateTimeCss/pikaday.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var picker = new Pikaday({ field: document.getElementById('datepicker') });
            $('#summernote').summernote();
            $('#summernote2').summernote();
            axios.get('/values/GetAllPersonSearch')
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
        function createSummernote() {
            axios({
                method: 'post',
                url: '/user/12345',
                data: {
                    firstName: 'Fred',
                    lastName: 'Flintstone'
                }
            });
        }
        function funcMyHtml() {
            console.log($('#summernote').summernote('code'));
            document.getElementById("Discussion").value = $('#summernote').summernote('code');
            document.getElementById("Discussion").value = safe_tags(document.getElementById("Discussion").value);
            console.log(document.getElementById("Discussion").value);
            axios({
                method: 'post',
                url: '/values/create',
                data: {
                    Subject: 'Fred',
                    Discussion: 'Api',
                    PublishedDate: document.getElementById("PublishedDate").value
                }
            });
        }

        function safe_tags(str) {
            return str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        }

    </script>
}