@model CompleteMvcCmsProject1.Areas.NewsPortal.Models.TypeAheadTable
<input type="button" value="excel download">
<div > @Model.states</div>
<a href="newsportal/practice/download"><div>download </div></a>
